.card{
    width: 45%;
    height: 200px;
    background-color: $color-five;
    margin-left: 50px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 1px 4px 4px $color-secundary;


    &-img{
        display: block;
        width: 90%;
        text-align: center;
        height: 140px;
        border-radius: 20px;
        margin: 10px auto;
    }

    &-text{
        text-align: center;
    }
}